body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}
@font-face {
  font-family: font-hf-B;
  src: url(/font/products/Product\ Sans\ Bold.otf);
}

@font-face {
  font-family: font-hf-R;
  src: url(/font/products/Product\ Sans\ Regular.otf);
}


/* style header */
header {
  display: flex;
  font-family: "font-hf-B", Courier, monospace;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 2% 10%;
  color: #323232;
  background-color: white;
}

.header {
  display: flex;
  justify-content: center;
}

.logoMain > img {
  width: 130px;
}

.icon-header {
  align-self: center;
  width: 28px;
  height: 28px;
}

.icon-header.menu {
  padding-top: 6px;
  padding-right: 5px;
}

.navi{
  padding-left: 15px;
}

a, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* Footer */
footer {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 2% 10%;
  background-color: rgb(209,109,38);
  font-size: 14px;
  margin: 0 0;
  font-family: "font-hf-R", Courier, monospace;
}
footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.footer_container {
  display: flex;
  justify-content: space-between;
}

.footer {
  width: 160px;
}
.footer .header{
  font-size: 18px;
  height:30px;
}

.footer-contacts, .footer-notify {
  width: 300px;
}
.footer div{
  line-height: 30px;
}
.contacts_others {
  display: flex;
}

.contacts_others img{
  width: 35px;
  height: 35px;
}

.contacts_others a{
  padding-left: 2%;
}

.contacts_others div{
  padding-top: 30px;
  margin-right: 25px;
}
.notify_input {
  padding-top: 20px;
  display: flex;
  height: 41px;
}
.input-text input {
  color: #8f9196;
  background-color: #fff;
  border: 0;
  padding-left: 12px;
  height: 100%;
  outline: none;
}
.input-button {
  background-color: rgb(102,102,102);
  width:  100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1px;
}
.hr {
  height: 10px;
  border-top: 1px solid #fff;
}
.keyboard {
  padding-left: 10%;
}

@media screen and (max-width:750px) {
  /* header */
    header{
      padding: 4% 5%;
    }
    .menu.header p{
      display: none;
    }
    .icon-header{
      width: 18px;
      height: 18px;
    }
    .logoMain.header img{
      width: 100px;
    }
    .navi{
      padding-left: 5px;
    }

    /* footer */
    .footer_container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .contacts_others {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

    }
    .contacts_others a{
      padding-left: 2%;
    }
    .footer-keyboard, .footer-services, .footer-policy {
      display: none;
    }
}
@media screen and (max-width:1024px) {
  .footer-keyboard, .footer-services, .footer-policy {
    display: none;
  }
}