body {
  margin: 0;
}
@font-face {
  font-family: "mainfont";
  src: url("../font/Lato\ Việt\ Hoá/Lato Medium.ttf");
}
@font-face {
  font-family: "mainfont-light";
  src: url("../font/Lato\ Việt\ Hoá/Lato Light.ttf");
}
@font-face {
  font-family: "mainfont-bold";
  src: url("../font/Lato\ Việt\ Hoá/Lato Bold.ttf");
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  margin: 3vh 3vw 2vh 3vw;
  color: rgb(235, 176, 14);
  font-size: 1.5rem;
  font-family: mainfont;
}

.icon-header {
  height: 2rem;
  padding-left: 1vw;
}

.logo-header img {
  height: 3rem;
  cursor: pointer;
}

.logo-header {
  transition-duration: 0.4s;
}

.logo-header:hover {
  transform: scale(1.05);
}

.link-header > a{
  text-decoration: none;
  color:rgb(50, 50, 50);
  font-size: 1.7rem;
  padding: 0 5px;
}


.link-header > a:hover{
  color: rgb(231, 169, 55);
}
#btn-navLink, .nav-link1{
  font-family: mainfont;
  position: absolute;
  text-align: right;
  padding: 1vh;
  right: 0;
}

.nav-link1{
  top: 10vh;
  background-color: #c9c9c9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nav-link1 > a{
  color: rgb(50, 50, 50);
}

#btn-navLink{
  top: 3.5vh;
}

.fa-chevron-circle-down{
  font-size: 40px;
  transition-duration: 0.5s;
}

.rotate90deg{
  transform: rotate(-90deg);
}

.nav-link1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  text-align:right;
  font-size: 1.8rem;
  border-right: 2px solid rgb(231, 174, 60);
}

.a-navLink1{
  text-decoration: none;
  color: rgb(212, 212, 212);
  padding: 5px;
  transition-duration: 0.3s;
}

.nav-link1 a:hover{
  background-color: rgb(231, 174, 60);
  color: rgb(34, 34, 34);
}

.hightlightHeader{
  color:orange;
}

.hidden{
  display: none;
}

#btn-navLink{
  display: none;
}

/* Footer */
footer {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 2% 10%;
  background-color: rgb(209, 109, 38);
  font-size: 14px;
  margin: 0 0;
  font-family: "mainfont", Courier, monospace;
}
.contacts_logo img {
  width: 100px;
}
footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.footer_container {
  display: flex;
  justify-content: space-between;
}

.footer {
  width: 160px;
}
.footer .header {
  font-size: 18px;
  height: 30px;
}

.footer-contacts,
.footer-notify {
  width: 300px;
}
.footer div {
  line-height: 30px;
}
.contacts_others {
  display: flex;
}

.contacts_others img {
  width: 35px;
  height: 35px;
}

.contacts_others a {
  padding-left: 2%;
}

.contacts_others div {
  padding-top: 30px;
  margin-right: 25px;
}
.notify_input {
  padding-top: 20px;
  display: flex;
  height: 41px;
}
.input-text input {
  color: #8f9196;
  background-color: #fff;
  border: 0;
  padding-left: 12px;
  height: 23px;
  outline: none;
}
.input-button-header {
  background-color: rgb(102, 102, 102);
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  margin-top: 3px;
  padding: 1px;
}
.hr {
  height: 10px;
  border-top: 1px solid #fff;
}
.keyboard {
  padding-left: 10%;
}

@media screen and (max-width: 768px) {
  /* header */
  .link-header{
    display: none;
  }
  .navigation{
    margin-right: 10vw;
  }
  #btn-navLink{
    display: block;
    padding: 0;
    margin-right: 5vw;
  }
  /* footer */
  .footer_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contacts_others {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contacts_others a {
    padding-left: 2%;
  }
  .footer-keyboard,
  .footer-services,
  .footer-policy {
    display: none;
  }
}
/* @media screen and (max-width: 1024px) {
  .footer-keyboard,
  .footer-services,
  .footer-policy {
    display: none;
  }
} */
@media screen and (max-width: 426px) {
  .navigation{
    margin-right: 15vw;
  }
}
