:root{
    --img-width: 200px;
    --img-height: 250px;
    --border: 1px solid rgba(218, 210, 210, 0.9);
    /* --background-item: rgb(223, 223, 223); */
}
@font-face {
    font-family: "mainfont";
    src: url("../font/Lato\ Việt\ Hoá/Lato Medium.ttf");
}
@font-face {
    font-family: "mainfont-light";
    src: url("../font/Lato\ Việt\ Hoá/Lato Light.ttf");
}
@font-face {
    font-family: "mainfont-bold";
    src: url("../font/Lato\ Việt\ Hoá/Lato Bold.ttf");
}
body{
    background: rgba(192, 187, 187, 0.1);
     /* background: url("../background.jpg");  */
    /* background-size: ; */
    /* background-repeat: no-repeat; */
    font-family: "mainfont","sans-serif";
    overflow-x: hidden;
}
#topcover{
    border-top: 5px solid rgb(50, 50, 50);
    border-bottom: 5px solid rgb(50, 50, 50);
    width: 100vw;
}
.wholepage-sort{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    
}
.h1{
    left: 50%;
    font-style: italic;
    font-family: "mainfont-bold","sans-serif";
    color: rgb(129, 76, 11);
    font-weight: 1000;
    font-size: 50px;
    position: absolute;
    transform: translate(-50%, 0);
}
.sort-by{
    font-weight: bold;
    font-family: "mainfont","sans-serif";
    cursor: pointer;
    padding: 10px;
}
#wholepage-sanpham{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
#menu{
    border: var(--border);
    height: 100%;
    padding: 10px;
    background: var(--background-item);
}
.menu-item, .menu-item-special{
    transition-duration: .1s;
    padding-left: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sanpham{
    display: grid;
    grid-template-columns: repeat(4, calc(var(--img-width) + 17px));
    grid-template-rows: max-content;
    row-gap: 0;
    column-gap: 0;
}
.hinh-sanpham{
    border: var(--border);
    cursor: pointer;
    margin-bottom: 10px;
    width: calc(var(--img-width) + 20px);
    height: calc(var(--img-height) + 20px);
}

.hinh-sanpham:hover{
    transform: scale(1.05);
    transition-duration: .3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
hr{
    border: 1px solid black;
}
.sanpham-item{
    background: var(--background-item);
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
#choose-bar{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content{
    display: none;
}

.tien-sanpham{
    color: red;
}
.ten-sanpham{
    text-decoration: underline;
}
.ten-sanpham, .menu-item, .filter{
    color: rgb(50, 50, 50);
}
.filter:hover,.ten-sanpham:hover{
    color: rgb(179, 106, 18);
}
.tien-sanpham, .ten-sanpham, h3{
    font-family: "mainfont-bold", "sans-serif";
}
.model-sanpham, h2{
    font-family: "mainfont", "sans-serif";
}
.content >p, .ten-sanpham {
    cursor:pointer
}

.fas{
    padding: 10px;
}
i{
    transition-duration: 0.5s;
}
.rotate{
    transform: rotate(180deg);
}
.text-color{    
    color: red;
}

@media only screen and (max-width: 1098px) {
    #sanpham{
        grid-template-columns: repeat(3, calc(var(--img-width) + 17px));
        grid-template-rows: max-content;
    }
}
  
@media only screen and (max-width: 850px) {
    .hinh-sanpham{
        width: calc(var(--img-width));
        height: calc(var(--img-height));
    }
    .tien-sanpham, .ten-sanpham, .model-sanpham{
        font-size: 15px;
    }
}
@media only screen and (max-width: 790px) {
    #sanpham{
        grid-template-columns: repeat(3, calc(var(--img-width)));
        grid-template-rows: max-content;
    }
    .tien-sanpham, .ten-sanpham, .model-sanpham{
        font-size: 15px;
    }
}
@media only screen and (max-width: 750px) {
    #sanpham{
        grid-template-columns: repeat(3, calc(var(--img-width) - 20px));
        grid-template-rows: max-content;
    }
    .hinh-sanpham{
        width: calc(var(--img-width) - 20px);
    }
}
@media only screen and (max-width: 650px) {
    #sanpham{
        grid-template-columns: repeat(3, calc(var(--img-width) - 50px));
        grid-template-rows: max-content;
    }
    .hinh-sanpham{
        width: calc(var(--img-width) - 50px);
    }
    #menu{
        display: flex;
        flex-direction: row;    
    }
    #wholepage-sanpham{
        flex-direction: column;
        align-items: center;
    }
    .content{
        border-bottom: 1px solid black;
        border-left:  1px solid black;
        border-right:  1px solid black;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
    }
    .filter:hover{
        background-color: #b8b7b7
    }
    .filter{
        border-bottom: var(--border);
    }
    .menu-item, .filter{
        margin: 0;
        padding: 5px 5px 5px 5px;
        word-wrap: break-word;
        width: 80px;
    }
    .hang-and-content{
        width: 90px;
    }
    .content{
        display: none;
    }
    .fa-chevron-down{
        margin: 0;
        padding: 0;
    }
    .menu-item{
        padding: 0;
        text-align: center;
        margin: 0;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        height: 80px;
    }
    #menu>h2, .menu-item-special, #last-hr{
        display: none;
    }
    .h1{
        left: 50%;
        font-size: 50px;
        position: absolute;
        transform: translate(-100%, 0);
    }
}
@media only screen and (max-width: 650px) {
    .menu-item, .filter{
        margin: 0;
        padding: 5px 5px 5px 5px;
        word-wrap: break-word;
        width: 60px;
    }
    .hang-and-content{
        width: 70px;
    }
    .menu-item{
        height: 70px;
    }
}
@media only screen and (max-width: 450px) {
    #sanpham{
        grid-template-columns: repeat(2, calc(var(--img-width) - 50px));
    }

}